    .container{
        max-width: 950px;
        margin:0 auto;
    }
@media (max-width: 1200px){
    .container{
        max-width: 900
        px;
        margin: 0 auto;
        }
    }
@media ( max-width: 991px){
    .container{
        max-width: 761px;
        }
    }
@media (max-width: 767px) {
    .container{
        max-width: 577px;
        }
    }
@media (max-width: 576px) {
    .container{
        max-width: 320px;
    }
}