    .reviews{
    min-height: 950px;  
    background-color: #ffff;
    padding: 0 5px ;
    &__title{
            font-size: 30px;
            color: rgb(13, 13, 13);
            text-transform: uppercase;
            text-align: center;
            }
        &__wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 10px;
        }
        &__item-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__img{
            display: block;
            margin-top: 70px;
        
        }
        &__text-wrapper{
            width: 650px;
            min-height: 250px;
            display: flex;
            flex-direction: column;
            margin-left: 65px;
            }
        &__text-title{
            font-size: 18px;
            color: rgb(13, 13, 13);
            margin-top: 75px;
            }
        &__text-subtitle{
            margin-top: 15px;
            font-size: 14px;
            color: rgb(100, 100, 100);
            }
                
        &__text{
            font-size: 16px;
            color: rgb(13, 13, 13);
            margin-top: 15px;
            }  
          
    }
@media ( max-width: 991px){
    .reviews{
        &__text-wrapper {
            width: 500px;
            margin-left: 40px;
       }
    }
    
}
@media (max-width: 767px) {
    .reviews{
        &__item-wrapper{
            flex-direction: column;
        }
        &__text-wrapper{
            margin-left: 0;
        }
        &__text-title{
            text-align: center;
        }
        &__text-subtitle{
            text-align: center;
        }
    }
    
}
@media (max-width: 576px) {
    .reviews{
        padding: 0 10px 30px 10px;
        &__text-wrapper{
            width: 320px;
        }
        &__text{
            font-size: 14px;
            color: rgb(13, 13, 13);
            margin: 15px 5px ;

            }  
            &__img{
                display: block;
                margin-top: 50px;
                width: 150px;
            }
        &__title{
            font-size: 26px;
        }
        &__text-title{
           margin-top: 50px;
        }
    }
       
}
    
          
    
   
      
  
